<br>
<div class="container">
  <div class="row">
    <div class="col-md-4 col-lg-4">
      <form id="form"  name="addLocationForm" #addLocationForm="ngForm" (ngSubmit)="addUser(addLocationForm.value)">
        <section class="panel  panel-featured-left panel-featured-right  panel-featured-primary">
          <header class="panel-heading">
            <div class="panel-actions">
              <a  class="fa fa-caret-down"></a>
              <a  class="fa fa-times"></a>
            </div>

            <h2 class="panel-title">Add Office</h2>
            <p class="panel-subtitle">
              Basic validation will display a label with the error after the form control.
            </p>
          </header>
          <div class="panel-body">
            <div class="form-group">
              <div class="col-sm-12">
                <div class="input-group">
                  <span class="input-group-addon btn-warning">
                    <i class="fa fa-user"> Location</i>
                  </span>
                  <input type="text" name="name" #name="ngModel" required ngModel class="form-control" placeholder="Enter Location" required="">
                </div>
              </div>
              <div class="col-sm-12">

              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <div class="input-group">
                  <span class="input-group-addon btn-success"># Office ID</span>
                  <input type="text" name="officeNumber" required #officeNumber="ngModel" ngModel class="form-control" placeholder="B657I56" required="">
                </div>
              </div>
              <div class="col-sm-9">

              </div>
            </div>

       
          </div>
          <footer class="panel-footer">
            <div class="row">
              <div class="col-sm-9 col-sm-offset-3">
                <button class="btn btn-primary" [disabled]="!addLocationForm.value">Submit</button>
                <button type="reset" class="btn btn-default">Reset</button>
              </div>
            </div>
          </footer>
        </section>
      </form>
    </div>

    <div class="col-md-5 col-lg-5">
      
      <section class="panel  panel-featured-right panel-featured-left panel-featured-primary">
        <header class="panel-heading">
          <div class="panel-actions">
            <a  class="fa fa-caret-down"></a>
            <a  class="fa fa-times"></a>
          </div>
  
          <h2 class="panel-title">Employee List</h2>
         
          <br>
          <div class="input-group">
              <span class="input-group-addon btn-primary">
                <i class="fa fa-location-arrow"></i>
              </span>
              <select #officeLocation="ngModel" ngModel name="officeLocation" (change)="findUser(officeLocation.value)" class="form-control">
                <option value="" disabled>Find Employee</option>
                <option *ngFor="let data of location" value="{{data.name}}">{{data.name}}</option>
               
              </select>
            </div>
        </header>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-condensed mb-none">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Location</th>
                 <th>Office ID</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of location;let i=index;">
                  <td>{{i+1}}</td>
                  <td>{{data.name}}</td>
                  <td>{{data.officeNumber}}</td>
                  <td><i (click)="del(data)" class="fa fa-times-circle "></i></td>
                </tr>
              </tbody>
            </table>
            <div class="alert alert-danger" *ngIf="location==0">No Records Found.....</div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
<ngx-spinner [visible]="showSpinner" [config]="spinnerConfig"></ngx-spinner>
